<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .you{
            text-align: center;
            margin-top: 15%;
        }
        body{
            background-image: url("https://cdn.mos.cms.futurecdn.net/5nPnmXT8hcVNHx2PcKngwY.gif");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="you">
        <h1 style="color: white;">Reset Your Password</h1>
        <input type="text" name="" style="text-align: center;" placeholder="Enter New Password"><br>
        <br>
        <input type="text" name="" style="text-align: center;" placeholder="Enter Confirm Password"><br>
        <br>
        <button>Submit</button>
    </div>
</body>
</html>