<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .me{
            text-align: center;
            margin-top: 15%;
        }
        body{
            background-image: url("https://gifdb.com/images/high/pastel-sky-background-3garh8rnc14jym78.gif");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="me">
        <h1>For reset the process Enter your mail</h1>
        <input type="text" name="" style="text-align: center;" placeholder="Enter Your Email"><br>
        <br>
        <button>Submit</button>
    </div>
</body>
</html>