<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Panel</title>
    <style>
        body {
            background-color: lightslategray;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 2%;">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                {% if session.get('user') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('viewcart')}}">View Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('orders')}}">My Orders</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('dashboard',ctype='home')}}">Home</a>
                        <a class="dropdown-item" href="{{url_for('dashboard',ctype='electronics')}}">Electronics</a>
                        <a class="dropdown-item" href="{{url_for('dashboard',ctype='fashion')}}">Fashion</a>
                        <a class="dropdown-item" href="{{url_for('dashboard',ctype='grocery')}}">Grocery</a>
                    </div>
                </li>
                {% if not session.get('user') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SignUp
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Admin Sign Up</a>
                        <a class="dropdown-item" href="#">User Sign Up</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Admin Login</a>
                        <a class="dropdown-item" href="#">User Login</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('userlogout')}}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" method="post" action="{{url_for('search')}}">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </nav>
    <div class="container my-3">
        {% if itemsdata %}
        <div class="row">
            {% for i in itemsdata %}
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <a href="{{url_for('description', itemid=i[0])}}">
                        <img src="/static/{{i[2]}}" class="card-img-top" alt="Product Image">
                    </a>
                    <div class="card-body">
                        <a href="{{url_for('description', itemid=i[0])}}">
                            <h5 class="card-title">Product Name: {{i[1]}}</h5>
                        </a>
                        <a href="{{url_for('description', itemid=i[0])}}">
                            <h5 class="card-title">Product ID: {{i[0]}}</h5>
                        </a>
                        <p class="card-text">Brief description of the product goes here.</p>
                        <label name="price">Price: {{i[3]}}</label><br><br>
                        <form method="post" action="{{url_for('pay', itemid=i[0], name=i[1], price=i[3])}}">
                            <select name="qyt">
                                {% for qyt in range(1, 11) %}
                                <option value="{{ qyt }}">{{ qyt }}</option>
                                {% endfor %}
                            </select>
                            <div class="d-flex justify-content-between mt-2">
                                <button class="btn btn-primary mr-2" type="submit">Buy Now</button>
                        </form>
                        <a href="{{url_for('addcart', itemid=i[0])}}" class="btn btn-warning">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>