<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .con {
            text-align: center;
            margin-top: 10%;
        }
    </style>
</head>

<body>
    <form method="post">
        <div class="con">
            <button>Go to Home</button><br>
            <br>
            <label>Review Title</label>
            <input type="text" name="title"><br>
            <br>
            <label>Review Description</label>
            <textarea name="review" id=""></textarea><br>
            <br>
            <input type="radio" name="rate" value="5">
            <label>5 Star</label>
            <input type="radio" name="rate" value="4">
            <label>4 Star</label>
            <input type="radio" name="rate" value="3">
            <label>3 Star</label>
            <input type="radio" name="rate" value="2">
            <label>2 Star</label>
            <input type="radio" name="rate" value="1">
            <label>1 Star</label><br>
            <br>
            <button>Submit</button>
        </div>
    </form>
</body>

</html>