<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("https://i.pinimg.com/originals/63/d5/63/63d563591377a0cc96a50b809d3728c1.gif");
            background-repeat: no-repeat;
            background-size: 102%;
        }

        .admin {
            text-align: center;
            margin-top: 11%;
            border: 3px solid black;
            margin: 8% 35% 0% 35%;
        }
    </style>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <div class="admin">
            <h1>SIGN UP</h1>
            <input type="text" style="padding: 3px 15px 3px 15px; text-align: center;" name="username" placeholder="Enter your name"
                style="text-align: center; border-radius: 3px;"><br>
            <br>
            <input type="text" style="padding: 3px 15px 3px 15px; text-align: center;" name="email" placeholder="Enter your Email"
                style="text-align: center; border-radius: 5px;"><br>
            <br>
            <input type="password" style="padding: 3px 15px 3px 15px; text-align: center;" name="password" placeholder="Enter your Password"
                style="text-align: center; border-radius: 5px;"><br>
            <br>
            <input type="text" style="padding: 3px 15px 3px 15px; text-align: center;" name="address" placeholder="Enter your Address"
                style="text-align: center; border-radius: 5px;"><br>
            <div class="form-group">
                <h3><label>Gender</label></h3>
                <input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
                <label class="form-check-label" for="male">Male</label>
                <input class="form-check-input" type="radio" name="gender" id="female" value="female" required>
                <label class="form-check-label" for="female">Female</label>
            </div>
            <br>
            <a href=""><button style="padding: 2px;">Sign Up</button></a><br>
            <br>
            <a href="ulogin.html" style="text-decoration: none;">Already Have An Account</a><br>
            <br>
        </div>
    </form>
</body>

</html>